<div class="index-container">
    <img class="center" src="/images/beer.png" width="250px" height="350px" alt="Ironbeers">
    <button class="Button" onclick= "window.location.href='/Beers'" type="button" style="background-color:#2081C3;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Check the Beers!</button>
    <button class="Button" onclick= "window.location.href='/random-beers'" type="button" style="background-color:#2081C3;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:2%">Check a Random Beer</button>
    </div>
</div>

<div class="footer-container">
    <h1>Developed by Ironhack.</h1>
</div>