<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="/path/to/punkapi-javascript-wrapper/dist/punkapi-javascript-wrapper.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styles.css' type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,400,700|Montserrat+Alternates:100,400,700|Montserrat:100,400,600|Roboto:100,400,700"
      rel="stylesheet">
    <title>Welcome Ironhacker</title>
  </head>
  <body>
    <div class="Navbar">
    <nav>
        <a href="/">Home</a> |
        <a href="/Beers">Beers</a> |
        <a href="/random-beers">Random Beers</a> 
    </nav>
    </div>


    <h1>Let's drink Ironbeers! :)</h1>
    {{{ body }}}
  </body>
</html>


