{{#each randomBeers}} 
<div class="flex-container">
   <h2> {{name}}</h2>
   <img src="{{image_url}}" height="240" width="120"/>
   <h3><font class="small">{{tagline}}</font></h3>
   <h3><bald>{{description}}</bald></h3>
</div>
{{/each}}